/*concept by CSS Custom Checkbox Design | Html CSS Tutorial @Online Tutorials*/


/*label necesario por que es el que se toca para el cambio*/
label{
    position: relative;
    margin: auto;
    width: 100px;
    height: 40px;
}

.checkUno{
    position: relative;
    z-index: 1;
    appearance: none;
}

/**********************      barra span     *************************/
/***********************************************************************/
/*span inicial*/
.spanUno{
    position: absolute;
    margin: auto;
    top: -1vw;
    left: -5vw;
    width: 11vw;
    height: 5.45vh;
    height: 2.9vw;

    border-radius: 50%;
    border-radius: 23px;
    background: #fe0000;    
    transition: 0.25s;
    box-shadow: 0 15px 25px #fe0000;
}
/*span con check*/
.checkUno:checked ~ .spanUno
{
    background: #05be05;
    box-shadow: 0 15px 25px #05be05;
}

/**********************      barra circular     *************************/
/***********************************************************************/
/*estado normal sin check*/
.spanUno i{
    position: absolute;
    top: 0.3vw;
    left: 0.4vw;
    width: 2.4vw;
    height: 2.4vw;
    background: white;
    border-radius:  50%;
    transition: 0.25s;
}
/*despues de dar check se mueve adelante el circulo*/
.checkUno:checked ~ .spanUno i{
    position: absolute;
    top: 0.3vw;
    left: 8.2vw;
    width: 2.4vw;
    height: 2.4vw;
    background: white;
    border-radius:  50%;
    transition: 0.25s;
}

/**********************      ojos     *************************/
/***********************************************************************/
.spanUno i::before{
	content: "";
	position: absolute;
	width: 0.67vw;
	height: 0.67vw;
    top: 0.6vw;
    left: 0.2vw;
    border-radius: 50%;
	background: #fe0000;

	box-shadow: 1.2vw 0 #fe0000;
	transition: 0.25s;
}

.checkUno:checked ~ .spanUno i::before{
	content: "";
	position: absolute;
	width: 0.67vw;
	height: 0.67vw;
    top: 0.6vw;
    left: 0.2vw;
	background: #05be05;
	/*ojo derecho*/
	box-shadow: 1.2vw 0 0 #05be05;
    border-radius: 50%;
    transition: 0.25s;

}

/**********************      boca     *************************/
/***********************************************************************/
.spanUno i::after{
	content: "";
	position: absolute;
	width: 1vw;
	height: 0.3vw;
    top: 1.6vw;
    left: 0.7vw;
	background: #fe0000;
	border-radius: 4px;
	transition: 0.25s;
}

.checkUno:checked ~ .spanUno i::after{
	content: "";
	position: absolute;
	width: 1vw;
	height: 0.4vw;
    top: 1.6vw;
    left: 0.7vw;
    border-radius: 0;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
	background: #05be05;
	transition: 0.25s;
}