@font-face{
    font-family: gobold;
    src:url(GoboldHollowBold.ttf);
}
h1{
    text-align: center;
    font-style: gobold holow;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: gobold;
    color: white;
    margin-block-start: 0.60em;
    margin-block-end: 0.60em;
}
body{
    margin: auto;
    padding: auto;
    background: slategrey;
    background: #b115ca;
    /*background:#202124;*/
    background-color: #b115ca; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #b115ca, blue);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.container{
    position: relative;
    top: 50px;
    margin: auto;
    padding: 0px;
    width: 80vw;
    /* width: 1000px; */
    height: 79vh;
    background-color: rgba(255, 255, 255,0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255,0.5) ;
    border-radius: 9px;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    background: aqua;
    border-radius: 18px;
}

/*------------------------ primer cuadro -------------------*/
/*---------------------------------------------------------------*/

.item:hover{
    background: #efefef;
    /*background: #b115ca;*/
    /*border: 2px solid #5f6368;*/
}

/* .item:hover:nth-child(1){
    background: #efefef; */
    /*background: #b115ca;*/
    /*border: 2px solid #5f6368;*/
}




